<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Confirmación de Registro</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #F2F2F2;
      margin: 0;
      padding: 0;
      border-radius: 5px;
    }

    .container {
      max-width: 600px;
      margin: 3rem auto;
      background-color: #FFFFFF;
      padding: 20px;
    }

    .logo {
      display: block;
      margin: 0 auto;
      width: auto;
      height: 200px;
    }

    .text {
      text-align: center;
      margin: 20px 0;
      font-size: 18px;
      line-height: 1.5;
    }

    .button {
      display: block;
      margin: 20px auto;
      padding: 10px 20px;
      background-color: #0066CC;
      color: #FFFFFF;
      font-size: 16px;
      text-decoration: none;
      border-radius: 5px;
      text-align: center;
    }

    .button:hover {
      background-color: #004C99;
    }

    .footer {
      text-align: center;
      margin-top: 20px;
      font-size: 14px;
      color: #999999;
    }
  </style>
</head>

<body>
  <div class="container">
    <img src="https://logos.flamingtext.com/Word-Logos/ejemplo-design-sketch-name.png" alt="Logo de la Empresa"
      class="logo">
    <p class="text">Hola {{ name }},</p>
    <p class="text">Gracias por registrarte en nuestro sitio. Para confirmar tu cuenta, por favor haz clic en el
      siguiente enlace:</p>
    <a href="{{ url }}" class="button">Confirmar mi cuenta</a>
    <p class="footer">Este correo electrónico fue enviado automáticamente. Por favor no respondas a este mensaje.</p>
  </div>
</body>

</html>